<nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand mb-0 h1">Pokemon Trainer</span>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-sm btn-outline-light" type="button" (click)="trainerPageClick()">Trainer Page</button>
      <button class="btn btn-sm btn-outline-light" type="button" (click)="catalougePageClick()">Pokemon Catalouge</button>
    </form>
  </nav>
