<app-navbar></app-navbar>

<div class="jumbotron">
  <h1 class="display-4">Welcome, {{ trainerName }}!</h1>
  <p class="lead">This is your trainer page. Here you will be able to display all collected pokemons!</p>
  <hr class="my-4">
  <h4 class="display-6">Catched Pokemons</h4>

  <ul *ngFor="let pokemon of pokemons" class="list-group">
    <li class="list-group-item">{{pokemon}}</li>
  </ul>
</div>

