<div class="jumbotron" class="col overflow-auto" style="max-height: 700px;">
  <h1 class="display-4">Catalouge</h1>
  <p class="lead">
    This is the pokemon catalouge. Here you can browse and learn more about all
    pokemons!
  </p>
  <hr class="my-4" />
  <div *ngFor="let pokemon of pokemon.results">
    <div class="card" style="width: 18rem">
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
        class="card-img-top"
        alt="default_pic"
      />
      <div class="card-body">
        <h5 class="card-title">{{ pokemon.name }}</h5>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/pokemon/{{ pokemon.name }}"
        >
          Details
        </button>
      </div>
    </div>
  </div>
  <p class="lead">
  </p>
</div>
<button type="button" class="btn btn-warning" (click)="loadNext()">
  NEXT
</button>