<app-navbar></app-navbar>

<div *ngIf="pokemon; else elseBlock" class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <div class="row">
          <div class="col">
            <h1 class="display-4">{{ pokemon.name}}</h1>
          </div>
          <div class="col">
            <img src="{{ pokemon.sprites.front_default}}" alt="">
          </div>
          <div class="col">
            <img src="{{ pokemon.sprites.back_default}}" alt="">
          </div>
        </div>

        <hr class="my-4" />
        <p>
          This is the pokemon details page. Here you can have a look at the pokemon of choice and see its abilities, stats, height, weight and types.
          You can collect this pokemon by clicking the CATCH button and it will be stored locally!
        </p>
        
        <button *ngIf="check()" class="btn btn-success btn-lg" type="button" (click)="catch()">Catch!</button>
        <button *ngIf="check() === false " class="btn btn-success btn-lg" type="button" routerLink="/catalouge">Go back!</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col overflow-auto" style="max-height: 400px;">
      <h4>Base Stats</h4>
      <ul class="list-group" *ngFor="let pokemonstat of pokemon.stats">
        <li class="list-group-item list-group-item-info">{{ pokemonstat.stat.name}} : {{ pokemonstat.base_stat }}</li>
      </ul>
      <ul class="list-group" *ngFor="let pokemontype of pokemon.types">
        <li class="list-group-item list-group-item-info">Type: {{ pokemontype.type.name}}</li>
      </ul>

    </div>
    <div class="col overflow-auto" style="max-height: 400px;">
      <h4>Profile</h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Height: {{pokemon.height}}</li>
        <li class="list-group-item list-group-item-info">Weight: {{pokemon.weight}}</li>
        <li class="list-group-item list-group-item-info">Base Experience: {{pokemon.base_experience}}</li>
        <ul class="list-group" *ngFor="let pokemonAbility of pokemon.abilities">
          <li class="list-group-item list-group-item-info">Ability: {{ pokemonAbility.ability.name}}</li>
        </ul>
      </ul>
    </div>
    <div class="col  overflow-auto" id="moveslist" style="max-height: 400px;">
      <h4>Moves</h4>
      <ul class="list-group" *ngFor="let pokemonMove of pokemon.moves" style="max-height: 100px;">
        <li class="list-group-item list-group-item-info">{{ pokemonMove.move.name}}</li>
      </ul>
    </div>
  </div>
</div>

<!-- Will only display if no pokemon is found -->
<ng-template #elseBlock>
  <div>
    <h1>ERROR!</h1>
    <P>No pokemon found with the name {{ name }}</P>
  </div>
</ng-template>
