<div class="container">
  <h1 class="display-4">Register a new trainer</h1>
  <form [formGroup]="trainerForm">
    <div class="form-group">
      <label for="trainerName">Trainer name: </label>
      <input
        class="form-control"
        type="text"
        name="trainerName"
        id="trainerName"
        placeholder="Enter your trainer name..."
        formControlName="username"
        required
        minlength="4"

      />
    </div>
    <div class="form-group">
      <button
        class="btn btn-warning btn-lg"
        type="button"
        (click)="onRegisterClicked()"
      >
        Register
      </button>
    </div>
  </form>
</div>
